/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

/* Barra de navegación */
.barraNavegacion {
    background-color: #555;
    padding: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraNavegacion button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.barraNavegacion button:hover {
    background-color: #666;
}

.btnDesplegable {
    position: relative;
    display: inline-block;
}

.contenidoDesplegable {
    display: none;
    position: absolute;
    background-color: #0a0000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.contenidoDesplegable a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contenidoDesplegable a:hover {
    background-color: #555;
}

.btnDesplegable:hover .contenidoDesplegable {
    display: block;
}

.btnDesplegable .dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.btnDesplegable .dropbtn:hover {
    background-color: #666;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: calc(100% - 120px);
    padding: 10px;
}

/* Estilos para las cajas de texto */
.text-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.text-box h2 {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

/* Estilos para el contenedor del código */
.code-container {
    display: flex;
    height: 400px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    overflow: hidden;
}

/* Estilos para los números de línea */
.line-numbers {
    background-color: #2b2b2b;
    color: #999;
    padding: 10px;
    text-align: right;
    user-select: none;
    width: 40px;
    box-sizing: border-box;
    overflow: auto;
}

/* Estilos para los textareas */
textarea {
    flex-grow: 1;
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    line-height: 1.5;
    overflow: auto;
}

/* Estilo específico para el área de salida */
.textSalida textarea {
    color: #00c10a; /* Verde para el texto de salida */
}
